.card{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}
.card h2{
    margin-top: 10px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.price p{
    color: gray;
    font-size: 20px;
}
.addButton{
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 18px;
    padding: 5px;
}
.addButton:active{
    outline: 2px solid deepskyblue;
    border-radius: 8px;
}
.addButton img{
    width: 25px;
}